#main {
    color: pink;
}
[href] {
    color: black;
}
body {
    background-color: black;
}
$carousel-control-color: $black;


#accordionExample {
    
}
#{$prefix}accordion-color: #{$accordion-color};